@import "utilities.css";
:root{
    --primary:#08f7ff;
    --dark:#464242;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    
}
body{
    font-family:'Poppins',sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

header{
background-image: url("./portfolio.jpg");
clip-path: polygon(0 0,100% 0, 100% 90%, 80% 80%, 0 100%);
}
.container{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
}

header nav .left a{
    color:var(--pure);
    text-decoration: none; 
    margin-right: 2rem;
    transition:all .3s ease;
  
}
header nav{
    padding:2rem 0;
}
header nav .left a:hover{
color: var(--primary);
}
.hero .right{
    color:var(--pure);
}
.hero .right h6{
    font-size: 4rem;
    color: var(--primary);
    margin-bottom:0rem;
    margin-left: 2rem;
    font-weight: 100;
}
.hero .right h1{
    font-size: 2.5rem;
    font-weight: 100;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.hero .right h1 span {
    
    color: var(--primary)
}

.hero p{
    margin-left: 2rem;
}
.hero .right{
    margin-top: -7rem;
}
section{
    padding: 6rem;
    
}
#pic2{
clip-path: polygon(0 0, 50% 0, 100% 10%, 100% 90%, 50% 100%,0 100%);
}
#bt{
    margin-left: 35rem ;
    margin-top: 1rem;
}
section.about h1{
    margin-bottom: 1rem;
    font-size:10rem;
    font-weight:400;
    margin-left: 2rem;
    line-height: 50%;
    margin-top: 0rem;
}
section.about h1 span{
    color:var(--primary);
}
section.about h3{
    font-size: 2rem;
    margin-bottom: 1rem; 
    font-weight: 400;
    margin-left: 2rem;
    margin-top: 5rem;
}
section.about p{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: var(--dark);
    list-style: 2;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-top: 5rem;
}

section.about .social{
    display: flex;
}
section.about .social a{
    
    align-items:center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 1rem;
     
}
section.about .social a img{
padding:0.8rem;
}
section.about .social a:hover{
background: var(--primary);
}
.static{
    margin-bottom: -3.5rem;;
}
#ur_name{
    margin-left: 1.5rem;
}


.dynamic li{
    color: var(--primary);
    list-style:none ;
    font-size: 25px;
    font-weight: 500;
    
}

    
}

.dynamic li span::after{
    content:" " ;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #464242;
    
}

    
}
.about{
    background-image: url("./grey.jpg");
   
    
}
.killss{
    background-image:url("blur.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    
}
.contact{
    background-image: url("./grey.jpg")
}
section.contact h1 span{
    color:var(--primary);
    
}
section.contact h1{
   font-size: 2rem;
    margin-left: 35rem;
    margin-bottom: -1.5rem;
}
section.contact img{
    margin-left: 46rem;
    margin-top: -1.4rem;
}
section.contact .input-wrap{
    display:grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 2rem;
margin-bottom: 2rem;
margin-top: 4rem;
}
section.contact .input-wrap-2{
    display:flex;
    flex-direction :column;
    
}
section.contact .input-wrap-2 input{
margin-bottom: 2rem;
}
section.contact input{
    padding:0.5rem;
}
.skills{
    font-family: 'Comfortaa', cursive;
    margin-left: 105px;
    /* margin-top: 200px; */
    color:rgb(255, 255, 255); 
    font-size: 2rem;
}
.container1{
    
    background-color: black;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    
    
}
.box{
    background-color: var(--primary);
    border-radius: 20px;
    width: 70%;
    height: 20px;
    position: relative;
    animation-name: html;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.box1{
    background-color: var(--primary);
    border-radius: 20px;
    width: 40%;
    height: 20px;
    position: relative;
    animation-name: css;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.box2{
    background-color: var(--primary);
    border-radius: 20px;
    width: 60%;
    height: 20px;
    position: relative;
    animation-name: css;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.box3{
    background-color: var(--primary);
    border-radius: 20px;
    width: 60%;
    height: 20px;
    position: relative;
    animation-name: css;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes html {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}
    @keyframes css {
        from{
            width: 0%;
        }
        to{
            width: 40%;
        }
    }
    @keyframes _c {
        from{
            width: 0%;
        }
        to{
            width: 60%;
        }
    }
    @keyframes c {
        from{
            width: 0%;
        }
        to{
            width: 60%;
        }
    }
#kill{
    font-family:'Times New Roman', Times, serif;
    font-size: 4rem;
    color: #F2F2F2;
}
#kill span{
    color: var(--primary);
}
.html{
    height: 50px;
    width: 50px;
    margin-bottom: -10px;
    border-radius: 50%;
}
#other{
    width: 3rem;
    margin-left: 3rem;
}
.skill_page{
    
    background-image: url("https://image.winudf.com/v2/image/Y29tLmhhY2tlci53YWxscGFwZXIuSGFja2VyV2FsbHBhcGVyNEtfc2NyZWVuXzBfMTUzMzAzMDgxMl8wNTM/screen-0.jpg?h=800&fakeurl=1&type=.jpg");
    margin-left: 280px;
    margin-right: 75px;
    border-radius: 50%;
    height: 750px;
    width:750px; 
    justify-content: center;
    padding-top: 100px;
    background-position: center;
}
#know{
    text-decoration: none;
    color: var(--dark);
}
move{
    color:#464242;
    font-size: 5rem ;
   
    font-family: 'Times New Roman', Times, serif;
    
}
textarea{
    resize:none;
}
